<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone_code">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewmodel.SensorActivity"></activity>
        <activity android:name=".viewmodel.RoleActivity" />
        <activity android:name=".viewmodel.SearchActivity" />
        <activity android:name=".viewmodel.UserListActivity" />
        <activity android:name=".viewmodel.SettingsActivity" />
        <activity android:name=".viewmodel.RegisterActivity" />
        <activity android:name=".viewmodel.ProfileActivity" />
        <activity android:name=".viewmodel.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewmodel.ColleagueProfileActivity" />
    </application>

</manifest>